<?xml version='1.0' encoding='utf-8' standalone='yes' ?>
<map>
    <boolean name="transparentStatusBar" value="true" />
    <boolean name="auto_refresh" value="false" />
    <string name="backupUri">content://com.android.externalstorage.documents/tree/primary%3AYueDu</string>
    <string name="list_screen_direction">0</string>
    <boolean name="selectText" value="false" />
    <boolean name="hideNavigationBar" value="false" />
    <int name="colorPrimaryNight" value="-14606047" />
    <boolean name="volumeKeyPageOnPlay" value="false" />
    <string name="launcherIcon">launcher2</string>
    <string name="themeMode">0</string>
    <string name="language">auto</string>
    <boolean name="recordLog" value="false" />
    <int name="colorAccent" value="-5434281" />
    <boolean name="webService" value="false" />
    <boolean name="clickTurnPage" value="true" />
    <boolean name="textBottomJustify" value="true" />
    <boolean name="autoChangeSource" value="true" />
    <string name="fontFolder">/storage/emulated/0/Fonts</string>
    <boolean name="textFullJustify" value="true" />
    <boolean name="volumeKeyPage" value="true" />
    <int name="autoReadSpeed" value="46" />
    <string name="keep_light">0</string>
    <int name="colorPrimary" value="-16540699" />
    <int name="colorAccentNight" value="-2604267" />
    <boolean name="navigationBarColorChange" value="false" />
    <int name="colorBackground" value="-657931" />
    <int name="colorBackgroundNight" value="-16777216" />
    <int name="readStyleSelect" value="0" />
    <boolean name="showBrightnessView" value="true" />
    <boolean name="hideStatusBar" value="false" />
    <boolean name="process_text" value="true" />
    <boolean name="showRss" value="true" />
    <int name="versionCode" value="5507" />
    <boolean name="mediaButtonOnExit" value="true" />
    <long name="lastBackup" value="1598022520112" />
    <int name="pageAnim" value="0" />
    <boolean name="readBodyToLh" value="true" />
    <boolean name="clickAllNext" value="false" />
    <string name="web_dav_url"></string>
    <string name="web_dav_account"></string>
    <string name="web_dav_password"></string>
    <boolean name="defaultToRead" value="false" />
    <boolean name="webDavCreateDir" value="true" />
    <boolean name="replaceEnableDefault" value="true" />
    <int name="colorBottomBackground" value="-1118482" />
    <string name="readBookFont">/data/user/0/io.legado.app.release/files/Fonts/Kindle楷体.ttf</string>
    <int name="colorBottomBackgroundNight" value="-12434878" />
</map>
